<a class="btn retour_btn" routerLink="/">Retour</a>
<hr />
<div class="container">
    <div class="title">{{countryName}}</div>
    <div class="header_blocks">
        <aside class="header_block">
            <div class="header_title">
                Number of entries
            </div>
            <div class="header_value">
               {{numberOfParticipations}}
            </div>
        </aside>
    
        <aside class="header_block">
            <div class="header_title">
                Total number medals
            </div>
            <div class="header_value">
               {{totalNumberOfMedals}}
            </div>
        </aside>
        <aside class="header_block">
            <div class="header_title">
                Total number of athletes
            </div>
            <div class="header_value">
               {{totalNumberOfAthletes}}
            </div>
        </aside>
    </div>
    
   

    <div class="chart">
        
        <app-line-chart [country]="country"></app-line-chart>
        

        
    </div>

</div>

