@media screen and (max-width: 768px) {
  .chart-container {
    position: relative;
    height: 60vh;
    width: 90vh;
    margin: auto;
    padding: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .chart-container {
    position: relative;
    height: 70vh;
    width: 95vh;
    margin: auto;
    padding: 0;
  }
}

@media screen and (min-width: 1025px) {
  .chart-container {
    position: relative;
    height: 60vh;
    width: 90vh;
    margin: auto;
    padding: 0;
  }
}



.MyChart {


}