.myPie{

}
.chart-container {
 background-color: rgb(179, 244, 179);
 width:auto;
 width: 100%;
} 

.MyChart {

width: 100%;
margin: auto;



}
/* .chart-legend ul {
    list-style: none;
  }
  
  .chart-legend li {
    display: flex;
    align-items: center;
  }
  
  .legend-color {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
  }
   */
