@mixin commonStyle {
  margin: 0;
  padding: 10px;
  height: auto;
  width: 100%;
}
.chart-container {
    position: relative;
    @include commonStyle();
   
  }

  #MyChartLine {
    position: absolute;
    @include commonStyle();
    padding-bottom: 10%;

  
  }