
<div id="container">
  <div class="title">Medals per Country</div>
  <div class="header_blocks">
    <aside class="header_block">
      <div class="header_title">Number of JOs</div>
      <div class="header_value">
        {{ totalJO }}
      </div>
    </aside>

    <aside class="header_block">
      <div class="header_title">Number of countries</div>
      <div class="header_value">
        {{ numberOfCountries }}
      </div>
    </aside>
   
  </div>
 
  <app-pie-chart class="myPie" [countryData]="totalMedalsByCountry"></app-pie-chart>
</div>
