<a class="btn retour_btn" href="">Retour</a>
<hr />
<div class="container">
    <div class="title">Medals per Country</div>
    <div class="header_blocks">
        <aside class="header_block">
            <div class="header_title">
                Number of JOs
            </div>
            <div class="header_value">
               pays
            </div>
        </aside>
    
        <aside class="header_block">
            <div class="header_title">
                Number of countries
            </div>
            <div class="header_value">
               2
            </div>
        </aside>
    </div>
    

    <div class="chart">
        <div class="chart-container">
            <canvas id="MyChart">{{ chart }}</canvas>
          </div>

        
    </div>

</div>

