$smallest_value:85vh;
$biggest_value:95vh;
// Définition des variables
$defaultHeight: $smallest_value;
$defaultWidth: $biggest_value;
$landscapeHeight: $biggest_value;
$landscapeWidth: $smallest_value;
$aquaColor: aqua;
$blueColor: blue;
$redColor: red;
$greenColor:green;

// Point de rupture pour les écrans de petite taille (mobile)
$smallScreen: 768px;

.chart-container {
  position: relative;
aspect-ratio: 2.5;
margin: auto;



 
}
