// Point de rupture pour les écrans de petite taille (mobile)
$smallScreen: 300px;

.chart-container {
  position: relative;
aspect-ratio: 2.4;
margin: auto;
@media screen and (max-height: $smallScreen) {
  aspect-ratio: 2.0;
}

}

@media screen and (max-height: $smallScreen) {
  #MyChart{
    position: relative;
    padding-bottom: 100px;
    
  }
 
}
