$smallest_value:85vh;
$biggest_value:95vh;
// Définition des variables
$defaultHeight: $smallest_value;
$defaultWidth: $biggest_value;
$landscapeHeight: $biggest_value;
$landscapeWidth: $smallest_value;
$aquaColor: aqua;
$blueColor: blue;
$redColor: red;
$greenColor:green;

// Point de rupture pour les écrans de petite taille (mobile)
$smallScreen: 300px;

.chart-container {
  position: relative;
aspect-ratio: 2.4;
margin: auto;
@media screen and (max-height: $smallScreen) {
  aspect-ratio: 2.0;
}

}

@media screen and (max-height: $smallScreen) {
  #MyChart{
    position: relative;
    padding-bottom: 100px;
    
  }
 
}
